<div class="entry">

	<div class="entry-content">

	  <header>
	    <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
	    <p class="entry-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.category %} • Category: {{ page.category|capitalize }}{% endif %}</p>
	  </header>

	  <article class="entry-body">
	  	{% if content %}
	  		{{ content }}
  		{% else %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url }}">Read more »</a></p>
	  		{% endif %}
  		{% endif %}
	  </article>

  </div>

{% if content and page.related %}
<div class="related-posts">
	<h2>Related Posts</h2>
	<ul>
	{% for post in site.posts %}
		{% if page.related contains post.title %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endif %}

</div>

{% if content and page.author_footer != false %}
<div class="article-author">
    <div class="avatar">
    <img width="50" height="50" src="https://gravatar.com/avatar/28d7dcf5ee6718ea6de4b077ac3159a7?s=50" alt="{{ post.author }} Avatar"/>
    </div>
    <div class="name">
        <h4>Assembled by <b>Lauris Dziļums</b> </h4>
        CTO and co-founder at
        <a href="http://datazenit.com">Datazenit</a>
    </div>
</div>

{% if page.comments != false %}
    {% include disqus.html %}
{% endif %}

{% endif %}
