<div class="entry">

	<div class="entry-content">

	  <header>
	    <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
	    <p class="entry-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.category %} • Category: {{ page.category|capitalize }}{% endif %}</p>
	  </header>

	  <article class="entry-body">
	  	{% if content %}
	  		{{ content }}
  		{% else %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url }}">Read more »</a></p>
	  		{% endif %}
  		{% endif %}
	  </article>

  </div>

</div>
{% if content %}
<div class="article-author">
    <img width="50" height="50" src="https://gravatar.com/avatar/28d7dcf5ee6718ea6de4b077ac3159a7?s=50" alt="{{ post.author }} Avatar"/>
    <span class="name">
        Assembled by <b>Lauris</b> &ndash; Co-founder at
        <a href="http://datazenit.com"
           title="Easy to use web application for editing, visualizing and sharing data.">Datazenit</a>.
    </span>
</div>

{% include disqus.html %}
{% endif %}